%h1 Hello

=form_tag(items_path, :multipart => true) do
  =label_tag 'item_image'
  =file_field(:item, :image)
  =submit_tag "Upload"
  
%ul
  -@items.each do |item|
    %li 
      =link_to image_tag(item.image.url(:thumb)), item_path(item), :id=>dom_id(item)